@import url('https://fonts.googleapis.com/css?family=Signika:300');

* {
  font-family: 'Signika', sans-serif;
}

.item{
    padding: 1%;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin-top: 1%;
}

.details {
    background-color: #e7e7e7;
    height: 70%;
    overflow: scroll;
    width: 30%;
    position: fixed;
    margin-left: 1%;
    clear-after: both;
}

.searchTable{
    width: 63%;
    position: relative;
    float: right;
    margin-right: 1%;
}

.filter{
    display: inline;
}

.fancy {
  overflow: scroll;
}

.right{
    float: right;
}
.no-float{
    float: none;
}

.list{
    list-style: none;
    padding: 2px;
    width: 60%;
}
.list > li{
    padding: 0.1em;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.1em;
}
select {
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    height: 2em;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
}

input[type="text"]{
    padding: 10px 8px;
    box-sizing: border-box;
    font-size: 15px;
    height: 2em;
    width: 97%;
    border-width: 0.1em;
    border-bottom-width: 2px;
    border-radius: 3px;
    background: none;
    background-color: #fafafa;
    border-color: rgba(0,0,0,0.5);
    transition: background-color 0.3s, border-color 0.3s;
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}
input[type="text"]:focus{
    border-color: rgba(200,80,10,1);
}
table.fancy{
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;
}
table.fancy > tbody > tr.selected{
    background-color: grey;
}

table.fancy * td, table.fancy * th{
    border-bottom: 1px solid darkgray;
    padding:0.5em;
}
table.fancy * th:hover{
    cursor: pointer;
}

.def-cursor {
    cursor: default;
}

body {
    margin: 0;
    height: 100%;
}

.navbar {
    background-color: #939393;
    width: 100%;
    height: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
    position: relative;
}

.navbar a img {
  margin-right: 1.5em;
  margin-top: 1.5em;
  float: right;
  background-color: #e7e7e7; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  height: 50%;

}

.signin-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

button {
  margin-right: 1.5em;
  margin-top: 1.5em;
  float: right;
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

button.selected {
  background-color: #d3d3d3;
}

.mapID {
  background-color: #e7e7e7;
  margin-top: 20px;
}

#map1{
    justify-content: center;
    height: 320px;
    width: 100%;
    margin-top: 20px;
}


.arrows{
    position: absolute;
}

.fav {
    color: gold;
    cursor: pointer;
}

.un-fav {
    color: rgba(225, 228, 234, 1);
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.marker-description{
    max-height: 100px;
    overflow-y: scroll;
}
.marker-button{
    color: blue;
}
.marker-button:hover{
    cursor: pointer;
    cursor: hand;
    color: darkorange;
}
.marker-button.selected{
    color: darkorange;
}

.nav-title{
    display:inline-block;
    margin: 20px;
    font-size: 45px;
}