.flex{
    display: flex;
}
.flex-row{
    flex-direction: column;
}
.flex-col{
    flex-direction: row;
}
.flex-grow > *{
    flex-grow: 1;
}
.flex-grow-5 > *{
    flex-grow: .5;
}

.flex-50 > *{
    flex-basis: 50%;
}
.flex-65 > *{
    flex-basis: 65%;
}
.flex-25 > *{
    flex-basis: 25%;
}
.left{
    /*float: left;*/
}
.right{
    float: right;
}
.no-float{
    float: none;
}
.flex-center{
    justify-content: center;
}
.list{
    list-style: none;
    margin-top: 0.1em;
    padding: 0;
}
.list > li{
    padding: 0.1em;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.1em;
}
input[type="text"]{
    border-width: 0em;
    border-bottom-width: 2px;
    background: none;
    outline: none;
    border-color: rgba(0,0,0,0.5);
    transition: background-color 0.3s, border-color 0.3s;
}
input[type="text"]:focus{
    border-color: rgba(200,80,10,1);
}
table.fancy{
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;
}
table.fancy > tbody > tr.selected{
    background-color: grey;
}
button{
    outline: none;
    padding: 1em;
}
table.fancy * td, table.fancy * th{
    border-bottom: 1px solid darkgray;
    padding:0.5em;
}
table.fancy * th:hover{
    background-color: lightcoral;
    cursor: pointer;
}
table.fancy > tbody > tr:hover{
    background-color: lightcoral;
}
table.fancy > tbody > tr.selected {
    background-color: lightblue;
}

body {
    margin: 0;
    height: 100%;
}

.mapID {
    width: 200px;
    height: 200px;
}
.navbar {
    background-color: lightcoral;
    width: 100%;
    height: 50px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;
    position: relative;
}
.nav-title{
    display:inline-block;
    margin: 20px;
    font-size: 45px;
}
.signin-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

#map1{
    height: 180px;
}
.marker-description{
    max-height: 100px;
    overflow-y: scroll;
}
.marker-button{
    color: blue;
}
.marker-button:hover{
    cursor: pointer;
    cursor: hand;
    color: darkblue;
}